.*.elc
*.elc
/.config/hub
/.config/configstore
/.emacs.d/ido.last~
bin/python
/.emacs.d/.python-environments
/.emacs.d/transient
/.emacs.d/.lsp-session-v1
.Rproj.user
.Rhistory
.Rdata
.DS_Store
\#*\#
*~
/.emacs.d/recentf
