/lisp/my-tokens.el
/.cask/
/ac-comphist.dat
/auto-save-list/
/ido.last*
/smex-items
/var/
/url/
/lisp/light
/srecode-map.el
/bookmarks
/.emacs.desktop*
/elpa/
/.cache/
/.dap-breakpoints
/forge-database.sqlite
/amx-items
/eclipse.jdt.ls/
/eln-cache/
/eshell/
/projects
/workspace/
/forge-database-*.sqlite
